## Config file for mosquitto
#
# for testing with smoke test run with `mosquitto -c mosquitto.test.config`
# to run under the mosquitto service, copy this to the `/etc/mosquitto/conf.d/` directory.

listener 0 /tmp/mqtt.sock

listener 1883
protocol mqtt

listener 8883
protocol mqtt

allow_anonymous true